<script type="text/javascript" src="@routes.Assets.at("/javascripts/playerHeader.js")"></script>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">@Messages("app.name")</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="@routes.PlayerController.playerHome">@Messages("navigation.quiz")</a></li>
				<li><a href="#">@Messages("navigation.scripts")</a></li>
        		<li><a href="#">@Messages("navigation.profile")</a></li>
				
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="@routes.LoginController.logout" >@Messages("navigation.logout")</a></li>
			</ul>
		</div>
	</div>
</nav>