<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/admin/footer.css")">


<footer class="footer">
	<div class="container">
		<div class="footer-links muted credit">
			<span class="col-xs-3"><i class="fa fa-copyright"></i> 2015 @Messages("app.name")</span>
			<a href="#">@Messages("footer.terms") </a>
			<a href="#">@Messages("footer.contact") </a>
			<a href="#">@Messages("footer.authors") </a>
			<a href="#">@Messages("footer.programmers") </a>
		</div>
	</div>
</footer>